body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

section {
    color: #ffffff;
    text-align: center;
    background-color: #0C7075;
}



p {
    font-size: 18px;
    line-height: 1.6;
    color: #0a0a0a;
}
