body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    display: block;
    margin: 20px auto;
    color: red;
    font-size: 20px;
    background: none;
    border: 2px solid red;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.5);
}

/* Heart */
.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(45deg);
    margin-top: 50px;
    box-shadow:0 0 50px red, 0 0 50px red inset;
    animation: pulse 2s infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    box-shadow:0 0 50px red, 0 0 50px red inset;

}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
    top: 0;
}

/* Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}